<!--navbar content -->
<nav class="navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="#">
        <img src="#" alt="Logo">
      </a>
    </div>
    <div class="navbar-inner">
		<h2 class="text-center badge bg-primary text-wrap">Hi! {{user_name}}</h2>
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('optimize_portfolio')}}">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer"/></svg>
              <span class="nav-link-text">Portfolio Optimization</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('data_report')}}">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              <span class="nav-link-text">Data</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#cpu-fill"/></svg>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Resources</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#tools"/></svg>
              <span class="nav-link-text">Github</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
              <span class="nav-link-text">Docs</span>
            </a>
          </li>

        </ul>
      </div>
  </div>
</nav>

	