{% extends 'base/base.html' %}
{% block title%} Data {%endblock%}
{%block header %}
<div class="header bg-primary pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 bg-dark text-white  text-center d-inline-block mb-0 p-2 card">Data</h6>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
{% block content%}  
<div class="row">
	<div class="col">
		<div class="card">
			<!-- Card header -->
			<div class="card-header border-0">
				<h3 class="mb-0">Table</h3>
			</div>
			<!-- table -->
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th scope="col" class="sort text-sm" >Column1</th>
							<th scope="col" class="sort text-sm" >Column2</th>
							<th scope="col" class="sort text-sm" >Column3</th>
							<th scope="col" class="text-sm">Column4</th>
						</tr>
					</thead>
					<tbody class="list">
						<tr>
							<th scope="row"></th>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Table footer -->
			<div class="card-footer py-4">
				<nav aria-label="...">
					<ul class="pagination justify-content-end mb-0">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">
							<i class="fas fa-angle-left"></i>
							<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
						</li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#">
							<i class="fas fa-angle-right"></i>
							<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<!-- Optional JavaScript -->
{% endblock %}