{% extends 'base/base.html' %}
{% block title%} Data {%endblock%}
{%block header %}
<div class="header bg-primary pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 bg-dark text-white  text-center d-inline-block mb-0 p-2 card">Data</h6>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
{% block content%}  
<div class="row">
	<div class="col">
		<div class="card">
			<!-- Card header -->
			<div class="card-header border-0">
				<h3 class="mb-0">Data Crawled</h3>
			</div>
			<!-- table -->
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th scope="col" class="sort text-sm" >Currency</th>
							<th scope="col" class="sort text-sm" >Date</th>
							<th scope="col" class="sort text-sm" >Volume</th>
							<th scope="col" class="text-sm">Price</th>
							<th scope="col" class="text-sm">Status</th>
						</tr>
					</thead>
					<tbody class="list" id="transactionLogBoard">
						{% for row in log%}
						<tr class="visually-hidden">
							<th scope="row">{{row[1]}}</th>
							<th scope="col">{{row[4]}}</th>
							<th scope="col">{{row[5]}}</th>
							<th scope="col">{{row[3]}}</th>
							<th scope="col">{{row[2]}}</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- Table footer -->
			<!-- Stats Board footer -->
			<div class="card-footer py-4">
				<nav aria-label="...">
					<ul class="pagination justify-content-end mb-0">
						<li class="page-item" id="transactionLogPrevious">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item active" ><a class="page-link" id="logPageNumber">1</a></li>
						<li class="page-item" id="transactionLogNext">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Craw data table -->
<div class="row">
	<div class="col">
		<div class="card">
			<!-- Card header -->
			<div class="card-header border-0">
				<h3 class="mb-0">Your Transaction Log</h3>
			</div>
			<!-- table -->
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							{% for col in col_crawl_data %}
							<th scope="col" class="sort text-sm" >{{col}}</th>
							{% endfor %}

						</tr>
					</thead>
					<tbody class="list" id="transactionLogBoard">
						{% for row in crawl_data%}
						<tr>
							{% for col in row%}
							<th scope="row">{{col}}</th>
							{%endfor%}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<!-- Optional JavaScript -->
<script src="{{url_for('static',filename='assets/js/data-page.js')}}"></script>
{% endblock %}