{% extends 'base/base.html' %}
{% block title%} Optimze Portfolio {%endblock%}
{% block stylesheets %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/custom.css') }}">
{% endblock stylesheets %}
{%block header %}
<div class="header bg-primary pb-6">
   <div class="container-fluid">
      <div class="header-body">
         <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
               <h6 class="h2 bg-dark text-white  text-center d-inline-block mb-0 p-2 card">Portfolio Opt</h6>
            </div>
         </div>
      </div>
   </div>
</div>
{%endblock%}
{% block content%}  
<div class="row">
   <div class="col-xl-9 pt-3">
      <div class="card bg-default">
         <div class="card-header bg-transparent">
            <div class="row align-items-center">
               <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Chart</h6>
                  <h5 class="h3 text-white mb-0">Plot-title</h5>
               </div>
            </div>
         </div>
         <div class="card-body">
            <!-- Chart -->
            <div class="chart">
               <!-- Chart plot -->
               <canvas id="chart-dark" class=""></canvas>
            </div>
         </div>
      </div>
   </div>
   <!-- Profit and control pannel-->
   <div class="col-xl-3 pt-3">
		<div class="row">
			<div class="card bg-success">
				<div class="card-header bg-transparent">
					<div class="row align-items-center ">
						<h5 class="h3 mb-0 text-center">Profit</h5>
					</div>
				</div>
				<div class="card-body text-center">50%</div>
			</div>
        </div>
		<div class="row">
			<div class="card">
				<div class="col">
					<div class="card-header bg-transparent text-center">
						<h5 class="text-uppercase ls-1 mb-1">Tool</h5>
					</div>
					<div class="card-body text-center">
						<div class="row input-group pl-4">
							<select class="form-select" id="inputCurrencyPair">
								<option selected value="default">Choose Currency</option>
							</select>
						</div>
						<div class="row input-group pt-2 pl-4">
							<select class="form-select" id="inputIndicator">
								<option value="default" selected>Choose Indicator</option>
							</select>
						</div>
					</div>
					<div class="card-footer text-center">
						<button type="butto" class="btn btn-primary">Plot Chart</button>
					</div>
				</div>
			</div>
      </div>	  
   </div>
</div>
{% endblock %}
{% block javascripts %}
<!-- Optional JavaScript -->
{% endblock %}