{% extends 'base/base.html' %}

{% block title%} Optimze Portfolio {%endblock%}

{%block header %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 bg-dark text-white  text-center d-inline-block mb-0 p-2 card">Portfolio Opt</h6>
          </div>
        </div>
      </div>
    </div>
</div>
{%endblock%}

{% block content%}  {% endblock %}

{% block javascripts %}
    <!-- Optional JavaScript -->
   
{% endblock %}