{% extends 'base/base.html' %}
{% block title%} Optimze Portfolio {%endblock%}
{% block stylesheets %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/custom.css') }}">
{% endblock stylesheets %}
{% block plugin %}
<script src='https://cdn.plot.ly/plotly-2.2.0.min.js'></script>
{% endblock plugin %}
{%block header %}
<div class="header bg-primary pb-6">
   <div class="container-fluid">
      <div class="header-body">
         <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
               <h6 class="h2 bg-dark text-white  text-center d-inline-block mb-0 p-2 card">Portfolio Opt</h6>
            </div>
         </div>
      </div>
   </div>
</div>
{%endblock%}
{% block content%}  
<div class="row">
   <div class="col-xl-9 pt-3">
      <div class="card bg-default">
         <div class="card-header bg-transparent">
            <div class="row align-items-center">
               <div class="col">
                  <h5 class="h3 text-white mb-0 text-uppercase">Chart</h5>
               </div>
            </div>
         </div>
         <div class="card-body">
            <!-- Chart -->
            <div class="">
               <!-- Chart plot -->
			
               <div id="chart-board" class=""></div>
            </div>
         </div>
      </div>
   </div>
   <!-- Profit and control pannel-->
   <div class="col-xl-3 pt-3">
		<!-- Profit -->
		<div class="row">
			<div class="card bg-teal">
				<div class="card-header bg-transparent">
					<div class="row align-items-center ">
						<h5 class="h3 mb-0 text-center">Profit</h5>
					</div>
				</div>
				<div class="card-body text-center" id="profit-body"></div>
			</div>
        </div>
		<!-- Plot Tool -->
		<div class="row">
			<div class="card">
				<div class="col">
					<div class="card-header bg-transparent text-center">
						<h5 class="text-uppercase ls-1 mb-1">Tool</h5>
					</div>
					<div class="card-body text-center">
					
						<div class="row input-group pl-4">
							<h3>Choose Currency</h3>
							<select class="form-select" id="inputCurrencyPair">
								{% for pair in currency_list%}
								<option value="{{pair.replace("/", "-")}}">{{pair}}</option>
								{%endfor%}
							</select>
						</div>
						<div class="row input-group pt-2 pl-4">
							<h3>Choose Indicator</h3>
							<select class="form-select" id="inputIndicator" multiple>
								{% for indicator in indicators%}
								<option value="{{indicator}}">
									<span>{{indicator}}</span>
								</option>
								{% endfor%}
							</select>
						</div>
					</div>
					<div class="card-footer text-center">
						<button type="button" class="btn btn-primary" id="plot-char-btn">Plot Chart</button>
					</div>
				</div>
			</div>
      </div>	  
   </div>
</div>
{% endblock %}
{% block javascripts %}
<!-- Optional JavaScript -->
<script src="{{url_for('static',filename='assets/js/plot_chart.js')}}"></script>
{% endblock %}