<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Forex Trading Web-app User Guide</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/guide-style.css')}}" >

</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-xs-12">
					<div class="slogan">
						USER GUIDE DOCUMENTATION
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="content">
		<div class="container">
			<div class="content-wrap">
				<div class="row">
					<aside>
						<div class="menu-box">
							<h4>Navigation</h4>	
							<nav>
								<ul>
									<li><a href="#start" class="current">Get started</a></li>
									<li>
										<a href="#Dashboard">Dashboard</a>
										<ul class = "sub-menu">
											<li><a href="#Summary">Summary Section</a></li>
											<li><a href="#stats">Stat-profit section</a></li>
											<li><a href="#trans_log">Transaction log</a></li>
											<li><a href="#trans_input">Transaction input</a></li>
										</ul>
									</li>
									<li><a href="#Portfolio_Optimization">Portfolio Optimization</a></li>
									<li><a href="#Transaction_Log">Transaction Log</a></li>
								</ul>					
							</nav>
						</div>
					</aside>
					<div class="content-info">
						<div class="section-txt" id="start">
							<h3>Get started</h3>
							<br>
								<img src="{{url_for('static',filename='assets/images/dashborad_1.png')}}">
							<br/>
							<p>Web-app Forex Trading là một sàn giao dịch Forex được xây dựng và phát triển bởi đội ngũ team data-BENIT.</p>
							<p>Trang web hỗ trợ người dùng thực hiện những giao dịch forex một cách an toàn, nhanh chóng, đạt lợi nhuận cao.</p>
							<p>Cung cấp các tính năng hữu ích với người dùng như Gợi ý các cặp đồng tiền đem lại lợi nhuận cao. Cung cấp các chỉ báo và chiến lược giao dịch thích hợp.</p>
							<p>Hỗ trợ người dùng thu thập dữ liệu giao dịch và thực hiện các phương pháp backtest</p>
							<p>Trang Web hiện tại gồm 3 phần chính :</p>
							<ol>
								<li>Dashboard</li>
								<li>Portfolio Optimization</li>
								<li>Data</li>
							</ol>
						</div>
						<div class="section-txt" id="Dashboard">
							<h3>Dashboard</h3>
							<p>Trang Dashboard bao gồm 4 khu vực hiện thị chính sau:</p>
							<ul>
								<li>Summary section</li>
								<li>Stat-profit section</li>
								<li>Transaction log</li>
								<li>Transaction input</li>
							</ul>
							<h4 id="Summary">1. Summary section</h4>
							<br>
								<img src="{{url_for('static',filename='assets/images/summary.png')}}">
							<br/>
							<p>
								Gồm 4 phần:
								<ul>
									<li>Currency pair : số đồng tiền hiện tại đang có</li>
									<li>Exp revenue : Tổng lợi nhuận hiện tại</li>
									<li>Broker : Sàn giao dịch được sử dụng</li>
									<li>Time : Thời gian hiện tại</li>
								</ul>

							</p>
							<h4 id="stats">2.  Stats</h4>
							<br>
								<img src="{{url_for('static',filename='assets/images/stats.png')}}">
							<br/>
							<p>
								<p>Thống kê thông tin các đồng tiền của user hiện tại</p>
								<p>Thông tin bao gồm :</p>
								<ul>
									<li>Currency: Cặp đồng tiền </li>
									<li>Volume: Số lượng  </li>
									<li>Order price: Giá tại thời điểm vào lệnh </li>
									<li>Current price: Giá tại thời điểm hiện tại (Sau khi đã nhấn lựa chọn Current price)</li>
									<li>Expect profit: Lợi nhuận đạt được tại thời điểm hiện tại (Sau khi đã nhấn lựa chọn Expect profit) </li>
								</ul>
								<p>Các nút chức năng :</p>
								<ul>
									<li>
										Nút Update:
										<ul>
											<li>Currency price: Cập nhật lại giá hiện tại hiện tại của từng đồng tiền</li>
											<li>Expect profit : Tính lợi nhuận hiện tại : current price – order price</li>
										</ul>
									</li>

									<li>
										Nút Currency pair:
										<ul>
											<li>All : Hiện thị tất cả thông tin của các đồng tiền đang có</li>
											<li>Chọn từng đồng : Hiện thị thông tin của từng đồng tiền riêng biệt</li>
										</ul>
									</li>
								</ul>
								
							</p>
							<h4 id="trans_log">3. Transaction log</h4>
							<br>
								<img src="{{url_for('static',filename='assets/images/transaction.png')}}">
							<br/>
							<p>
								Lưu lại lịch sử giao dịch của mình. Bao gồm các thông tin sau:
								<ul>
									<li>Đồng tiền nào</li>
									<li>Ngày giao dịch</li>
									<li>Số lượng giao dịch</li>
									<li>Giá</li>
									<li>Lệnh thực hiện : Mua / Bán</li>
								</ul>
								
							</p>
							<h4 id="trans_input">4.  Transaction Input</h4>
							<br>
								<img src="{{url_for('static',filename='assets/images/trans_input.png')}}">
							<br/>
							<p>
								<ul>
									<li>Currency pair : Nhập kí hiệu đồng tiền : Nhập đúng 7 kí hiệu (Không được nhập hơn hoặc thiếu )</li>
									<li>Volume : Nhập số lượng giao dịch ( phải lớn hơn 0 )</li>
									<li>Date : Hiện ra một bảng calendar cho mình chọn ngày-tháng-năm.</li>
									<li>Price: Nhập giá giao dịch</li>
									<li>Buy/Sell : Lựa chọn lệnh thực hiện</li>
								</ul>
							</p>
						</div>
						<div class="section-txt" id="Portfolio_Optimization">
							<h3>Portfolio Optimization</h3>
							<br>
								<img src="{{url_for('static',filename='assets/images/port_optim.png')}}">
							<br/>
							<p>Hệ thống sẽ gợi ý cho người dùng những đồng tiền có khả năng đem lại lợi nhuận tốt nhất . Kèm theo đấy là những chỉ báo (indicators) để người dùng có thể theo dõi và đưa ra các quyết định chính xác nhất</p>
							<p>
								Gồm 3 phần: 
								<ul>
									<li>Chart : Hiện thị biến động của cặp tiền tệ được chọn. Đồng thời cũng biểu diễn những indicator được sử dụng, cùng những vị trí Buy / Sell</li>
									<li>Profit : Hiển thị lợi nhuận</li>
									<li>
										Tool :
										<ul>
											<li>Choose currency: những đồng tiền hiện có trong portfolio. Người dùng sẽ chọn 1 trong số những đồng tiền đấy</li>
											<li>Choose Indicator: những chỉ số hiện có (RSI, EMA, SMA …). Người dùng có thể chọn lựa và kết hợp nhiều chỉ báo với nhau</li>
											<li>Sau khi chọn đồng tiền và các indicator, sẽ có nút plot chart để chỉ ra được hiệu quả của những chỉ số với những đồng tiền hiện có. </li>
										</ul>
									</li>
									
								</ul>
							</p>
						</div>
						<div class="section-txt" id="Transaction_Log">
							<h3>Transaction Log</h3>
							<br>
								<img src="{{url_for('static',filename='assets/images/trans_log.png')}}">
							<br/>
							<p>Khi bạn nhìn vào bên phải màn hình, bạn sẽ thấy các cặp tiền tệ, khối lượng, ngày thực hiện giao dịch, giá và trạng thái mua / bán. Bạn sẽ sử dụng màn hình này để ghi lại các giao dịch mà bạn đã thực hiện để cho biết bạn đã thu được bao nhiêu lãi / lỗ trong năm. </p>
							<p>Bảng thống kê cho bạn thấy được :</p>
							<ul>
								<li>Currency pair : Hiển thị cặp tiền người dùng đã mua/bán.</li>
								<li>Volume: Số lượng đã mua/bán </li>
								<li>Date: Ngày mà người dùng đã mua/bán cặp tiền tệ đấy </li>
								<li>Price: Giá mà người dùng đã mua/bán cặp tiền tệ đấy. </li>
								<li>Status : Buy / Sell </li>
							</ul>  
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 center">
					THANK YOU FOR YOUR READING :))))))
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 center">
					Developed by Ai-Trading Team © 2021.
				</div>
			</div>
		</div>
	</footer>
	<script src="{{url_for('static',filename='assets/js/user_guide.js')}}"></script>
</body>
</html>